.footer {
  margin-top: 80px;
  padding-top: 48px;
  padding-bottom: 48px;
  background-color: var(--secondary);
  row-gap: 36px;
}

.footerFirstSection {
  grid-column: 1 / span 3;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.footerFirstSection .logoA {
  transform: scale(1.15);
  transform-origin: center top;
}

.footerFirstSection p {
  font: var(--cardTitle);
  color: rgba(255, 255, 255, 0.86);
  text-align: center;
}

.footerSecondSection {
  grid-column: 1 / span 3;
  display: grid;
  gap: 28px;
  align-items: start;
}

.footerSections {
  color: var(--other);
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footerSections header {
  font: var(--cardTitle);
}

.footerSections ul {
  list-style: none;
  font: var(--nav);
  display: grid;
  grid-template-columns: repeat(2, max-content);
  gap: 10px 28px;
}

.footerSections li {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.78);
  transition: color 0.2s ease;
}

.footerSections li:hover {
  color: var(--other);
}

.footerSecondSection .button {
  justify-self: start;
  border-color: transparent;
}

@media screen and (min-width: 430px) {
  .footerFirstSection {
    grid-column: 1 / span 6;
  }

  .footerSecondSection {
    grid-column: 1 / span 6;
    grid-template-columns: 1fr auto;
    align-items: end;
  }
}

@media screen and (min-width: 1024px) {
  .footer {
    margin-top: 112px;
    padding-top: 64px;
    padding-bottom: 64px;
  }

  .footerFirstSection {
    grid-column: 2 / span 5;
    align-items: start;
  }

  .footerFirstSection .logoA {
    transform-origin: left top;
  }

  .footerFirstSection p {
    text-align: start;
  }

  .footerSecondSection {
    grid-column: 8 / span 4;
    grid-template-columns: 1fr;
  }
}
