#container {
      display: block;
      margin: 0;
      overflow: hidden;
}

#navbar {
      background-color:#5D6D7E ;
      border-radius: 30px;
      display: flex;
      flex-direction: row;
      width: 65%;
      padding: 10px;
      /* height: 10vh; */
      z-index: 1;
      left: 0;
      right: 0;
      top: 20px;
      justify-content: center;
      margin: auto;
      position: fixed;
}


#wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      background-color: black;

      position: absolute; 
      width: 100%;
      /* height: 100%; */

}

#wrapper-left {
      width: 45%;
      top: 0;
      left: 0;
      background-image: url('../../images/amir.jpg');
      background-size: cover;
      background-repeat: no-repeat;

      height: 100%;
      position: fixed;

}

#wrapper-right {
      width: 55%;
      right: 0;
      top: 0;
      background-color: #414A52;
      position: absolute;
      flex-grow: 10;
}

.sections {
      background-color: #414A52;
      height: 400px;
      font-family: my;
}

.sections-headers {
      margin-left: 30px;
      font-size: 60px;
      color: white;
}

.sections-headers::first-letter {
      font-size: 100px;
}

.sections-headers:first-of-type {
      margin-top: 80px;
}

.sections-paragraphs {
      color: white;
      font-size: 25px;
      margin-left: 30px;
}


.navbar-item {
      margin: 15px;
      font-size: 25px;
      font-family: my; 
      color: #F5B041;    
      font-weight: bold;
}

.navbar-icon {
      display: none;
}

.ant-btn {
      background-color: #F5B041;
      color:#414A52;
      height: 50px;
      margin-left: 30px;
}

.ant-btn::after {
      background-color: #F5B041;

}


@media screen and (max-width: 1000px) {

      #container {
            display: flex;
            flex-direction: column;
            height: 100%;
            position: relative;
      }

      #wrapper {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
      }


      #wrapper-left {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            position: fixed;
      }

      #wrapper-right {
            position: absolute;
            width: 100%;
            
      }



      #navbar a:not(:first-child){
            display: none;
      }
      #navbar a.navbar-icon {
            float: right;
            display: block;
      }

}

@media screen and (max-width:1000px){

      #navbar.responsive {
            position: relative;
            display: flex;
            flex-direction: column;
      }
      
      #navbar.responsive.navbar-icon {
            top: 0;
            right: 0;
            position: relative;
      }
      #navbar.responsive a {
            display: flex;
            flex-direction: column;
            text-align: left;
            background-color: aqua;

      }
      .navbar-item {
            display: none;
      }
}