
#wrapper {
      display: flex;
      overflow: hidden;
      height: 100vh;
}

#wrapper-left {
      height: 100%;
      width: 45%;
}

#wrapper-right {
      width:55%;
      padding-top: 100px;
      overflow: auto;
      background-color: #414A52;
}

.sections {
      min-height: 400px;
      font-size: 20px;
      color: white;
      padding: 50px;
}

.sections-headers {
      color: white;
      font-size: 40px;
      font-family: my;
}

.sections-headers::first-letter {
      font-size: 70px;
}

#navbar {
      position: fixed;
      top: 20px;
      left: 50%;
      transform: translateX(-50%);
      background-color: #5D6D7E;
      border-radius: 30px;
      width: 50%;
      padding: 20px 0;
      display: flex;
      justify-content: space-around;
}

.navbar-item {
      font-family: my;
      font-size: 20px;
      color: #F5B041;
}

.navbar-icon {
      display: none;
}

@media screen and (max-width:1024px){

      .navbar-icon {
            display: block;  
            color:#F5B041;   
      }

      .navbar-item {
            display: none;
      }
}
