
#wrapper {
      display: flex;
      overflow: hidden;
      height: 100vh;
}

#wrapper-left {
      height: 100%;
      width: 45%;
      background-image: url('../../images/amir2.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      background-position-y: 0px;
}

#wrapper-right {
      width:55%;
      overflow: auto;
      background-color: #1d1f20;
}

.sections {
      min-height: 200px;
      font-size: 20px;
      color: white;
      padding: 70px;
}

.sections-headers {
      color: white;
      font-size: 40px;
}

.sections-headers::first-letter {
      font-size: 70px;
}


.ant-btn {
      background-color: #4da776 ;
      color: white !important;
}

.ant-btn:hover{
      background-color: #F5B041;
}

.ant-btn:focus {
      background-color: #F5B041;
}


#navbar {
      position: fixed;
      top: 0px;
      left: 0px;
      transform: translateX(-100%);
      z-index: 10;
      transition: all 0.5s;
      background-color: #4da776;
      width: 10%;
      height: 100%;
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
}

.navbar-item {
      font-size: 25px;
      color: white;
}

.navbar-item:hover {
      color:rgb(112, 74, 26);
}

.navbar-icon {
      transition: all 0.5s;
      position: fixed;
      left: 10px;
      top: 10px;
      background-color: #4da776;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      display: flex;
      justify-content:center;
      align-items: center;
      color: black;
}

.sections-skills {
      display: flex; 
      flex-wrap: wrap;
}

.sections-skills-items {
      display: flex;
      align-items: center;
      flex-direction: column;
      background-color:#5D6D7E;
      border-radius: 10px;
      width: 200px;
      margin: 10px;
      padding: 5px;
}


.sections-socialmedia-items {
      margin: 5px;
}

.section-socialmedia {
      position: fixed;
      bottom: 0;
      width: 45%;
      text-align: center;
}


.project-links:hover {
      background-color:antiquewhite;
      color:#34495E !important;
}

@media screen and (max-width:1024px){

      #navbar {
            width: 90%;
            height: 50%;
            justify-content: center;
            align-items: center;
      }

      #wrapper {
            flex-direction: column;
            overflow: hidden;
      }

      #wrapper-left {
            width: 100%;
            height: 50vh;
            flex-shrink: 0;
            background-position-y: -185px;
      }

      #wrapper-right {
            width: 100%;
            min-height: 50vh;
      }

      .section-socialmedia {
            bottom: 50vh;
            right: 0;
      }

      .sections-socialmedia-items {
            margin: 2px;
      }

}

@media screen and (max-width: 710px){
      #wrapper-left {
            width: 100%;
            background-position-y: -0px;
      }
}


@media screen and (max-width: 600px){
      .sections-skills {
            display: flex;
            flex-flow: row wrap;
      }
}


@media screen and (max-width:900px){
      #wrapper-left {
            background-position-y: -100px;
      }
}

@media screen and (max-width:500px){
      #wrapper-left {
            background-position-y: -50px;
      }
}


@media screen and (max-width: 400px){
      
      .sections-skills {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
      }
}
